/* ==============
    FOOTER : STICKY FOOTER
   ============== */

/** {
        margin: 0;
}
html, body {
        height: 100%;
}
.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -360px;  the bottom margin is the negative value of the footer's height 
}
.footer, .push {
        height: 360px;  .push must be the same height as .footer 
        clear: both;
}*/

/* ==============
    FOOTER : Menu
   ============== */
.image-replacement {
    margin: 0 0 0 1%; padding:0;
    position:relative;
    width:64px; height:64px;
    overflow:hidden;
    float: right;
    font-size: 0px;
}

.image-replacement span {
    display:block;
    position:absolute; left:0; top:0; z-index:1;
    width:64px; height:64px;
    margin:0; padding:0;
}

.google-dark {
    background:url("../img/ir/google_dark.png") top left no-repeat;    
}

.twitter-dark {
    background:url("../img/ir/twitter_dark.png") top left no-repeat;
}

.facebook-dark {
    background:url("../img/ir/facebook_dark.png") top left no-repeat;
}

.google-active {
    background:url("../img/ir/google_active.png") top left no-repeat; 
}

.twitter-active {
    background:url("../img/ir/twitter_active.png") top left no-repeat; 
}

.facebook-active {
    background:url("../img/ir/facebook_active.png") top left no-repeat; 
}

#logo {
    display:block;
    width: 175px;
    height: 70px;
    background: url(../img/logo/logo.png) top left no-repeat;
    position: relative;
    float:left;
    top: 10px;
    margin: 0 10px 0 0;
}

#logo_small {
    display: inline-block;
    width: 121px;
    height: 64px;
    background: url(../img/logo/logo_bottom.png) top left no-repeat;
    position: relative;    
    top: 0;
    left: 0;
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
    float:left;
}

/* ==============
    MOBILE: Menu
   ============== */
nav {
    float: right;
    margin: 10px 20px 10px 20px;   
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: rgb(224, 133, 36);
    box-shadow: 0px 0px 9px rgba(34,34,34,0.5);
    padding: 0 40px;
    border-radius: 8px;  
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: rgba(204, 103, 26, 0.7);
    background: linear-gradient(top, rgba(204, 103, 26, 0.7) 0%, rgba(234, 133, 36, 0.7) 100%);
    background: -moz-linear-gradient(top, rgba(204, 103, 26, 0.7) 0%, rgba(234, 133, 36, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(204, 103, 26, 0.7) 0%,rgba(234, 133, 36, 0.7) 10  0%);
}

nav ul li:hover a {
    color: rgb(221, 221, 221);
}

nav ul li a {
    display: block; 
    padding: 10px 20px;
    color: #222; 
    text-decoration: none;
}

nav ul ul {
    background: rgba(34, 34, 34, 1);
    padding: 0 0;
    margin: 0 0;
    position: absolute; 
    top: 100%;
    width: 60%;
}

nav ul ul:last-child {
    border-radius: 0 0 4px 4px;
}

nav ul ul li {
    float: none; 
    padding: 0 20px;
    margin: 0 0;
    border-bottom: 1px solid #666;
    position: relative;
}

nav ul ul li:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: 0px;
}

nav ul ul li a {
    padding: 10px 40px; 
    color: #fff;
}	

nav ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
    width: 100%;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
}

/* user selection */
::-moz-selection {
    background: rgba(224,133,36,0.75);
    text-shadow: none;
}

::selection {
    background: rgba(224,133,36,0.75);
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

/* group of related elements */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* resizable by a user */
textarea {
    resize: vertical;
}

/* html5 for IE */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ================================================== 
   ========================================================================== */
body {
    font: 16px/26px "Helvetica Neue", Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5% 0 5%;
}

/* ===================
    ALL: Brown Theme
   =================== */

.header-container {
    border-bottom: 10px solid rgba(224, 133, 36, 0.7);
}

.footer-container,
.main .aside {
    border-top: 10px solid rgba(224, 133, 36, 0.7);
}

.header-container,
.footer-container,
.main .aside {
    background: rgba(34, 34, 34, 0.9);
}

.title {
    color: rgb(221, 221, 221);
    margin-top: 30px;
}

/* ==============
    MOBILE: Main
   ============== */
.main {
    padding: 30px 0;
}

.main #article h1 {
    font-size: 2em;   
    font-style: Italic; 
}

.main .aside {
    color: white;
    padding: 0px 5% 10px;
    border-radius: 8px 8px 8px 8px;
}

.footer-container div {
    color: white;
    padding: 10px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 30px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.a-nav {
    text-decoration: none;
    color: rgb(204, 103, 26);
}

.a-nav:hover {
    text-decoration: underline;
    text-shadow: 5px 5px 5px rgba(204, 103, 26, 0.25);
}

/* ==========================================================================
   Borrowed from Bootstrap 
   ========================================================================== */
dl {
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

.dl-horizontal {
    *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
    display: table;
    line-height: 0;
    content: "";
}

.dl-horizontal:after {
    clear: both;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

.dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
}
.dl-horizontal dd {
    margin-left: 0;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

form {
    margin: 0 0 20px;
}

.btn { 
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    *border: 0;
    background-color: rgba(224, 133, 36, 1);    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;  
    font-size: 11.9px;
}

.btn:hover {
    opacity: 0.9;
    border: 1px 
}

#hide_btn {
    float:right;
    background-color: rgba(224, 133, 36, 0.7);
}

.btn_search {
    padding: 4px 20px 4px 20px;
}

input.search-query {
    padding: 4px 12px;
    width: 40%;
}

.input-append,
.input-prepend {
    width: 47%;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1em;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px #ccc;    
}

.input-append input ,
.input-prepend input {
    padding: 2px 2px;
    margin: -20px 0;
}

.input-append .add-on,
.input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    margin: 0 0;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}










/* CSS-Tricks */
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* smartphone-like devices */
@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */


    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    .oldie #nav a {
        margin: 0 0.7%;
    }
}

/* iPad-like */
@media only screen and (min-width: 768px) {

    /* ====================
    INTERMEDIATE: Menu
       ==================== */


    /* ====================
        WIDE: CSS3 Effects
       ==================== */

    .header-container,
    .main .aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    .title {
        float: left;
    }

    /* ============
        WIDE: Main
       ============ */

    .main #article {
        float: left;
        width: 57%;
    }

    .main .aside {
        float: right;
        width: 28%;
    }
}

/* Desktop/laptop device */
@media only screen and (min-width: 1140px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */


    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* image replacement (replace a text with an image) */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* hidden elements and not displayed (won't take the page space)*/
.hidden {
    display: none !important;
    visibility: hidden;
}

/* hide content to the user but leave the element visible to the screen reader */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* hide content to the user but leave the element focusable via the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* make invisible */
.invisible {
    visibility: hidden;
}

/* clears float layout (at element does not automatically force the container’s height adjust to the floated element)*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix    {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
