/* ==========================================================================
   Repotrs! HTML Email CSS rules
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
}

html, body {
    max-width: 600px;
}

textarea {
    border-color: rgb(221,221,221);
    max-width: 560px;
}

#logo {
    display:block;
    width: 175px;
    height: 70px;
    /* TODO: replace with global URL */
    background: url(../img/logo/logo.png) top left no-repeat;
    position: relative;
    float:left;
    top: 10px;
    margin: 0 10px 0 0;
}

#logo_small {
    display: inline-block;
    width: 121px;
    height: 64px;
    /* TODO: replace with global URL */
    background: url(../img/logo/logo_bottom.png) top left no-repeat;
    position: relative;    
    top: 0;
    left: 0;
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
    float:left;
}

.wrapper {
    width: 90%;
    margin: 0 5% 0 5%;
}

.header-container {
    border-bottom: 10px solid rgba(224, 133, 36, 0.7);
    position: relative;    
}

.footer-container,
.main .aside {
    border-top: 10px solid rgba(224, 133, 36, 0.7);
}
.main {
    padding: 30px 0;
}

.footer-container div {
    color: white;
    padding: 10px 0;
}

.footer-container h3 a {
    text-decoration: none;
    color: rgb(194,103,26);
    font-size: 0.8em;
    margin: 0;    
}

.footer-title {
    float:left; 
    text-decoration: none; 
    color: #222;
    margin: 0;    
}

#profiles h3{
    margin: 0 0 0 50%; 
}

#profiles {
    display: inline-block;
}

.statistics span {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.statistics textarea {
    width: 100%;
    resize: none;
}

.title {
    color: #222;
    font-weight: 200;
    margin-top: 35px;    
}

/* Selection */
::-moz-selection {
    background: rgba(224,133,36,0.75);
    text-shadow: none;
}

::selection {
    background: rgba(224,133,36,0.75);
    text-shadow: none;
}

/* Old fixes */
.ie7 .title {
    padding-top: 30px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
.title:before {
    content: "";
    display: block;
    clear: both;            
}

.title {
    text-align: center;
}

.wrapper a:nth-of-type(2) {
    display: none;
}

@media only screen and (min-width: 480px) {   
}

@media only screen and (min-width: 768px) {

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    .wrapper a:nth-of-type(2) {
        display: inline-block;
    }

    .title:before {
        content: "";
        display: inline-block;
        clear: none;            
    }

    .title {
        text-align: left;
    }
}

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* clears float layout (at element does not automatically force the container’s 
   height adjust to the floated element)*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix    {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }


    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}