<h3>Detail of Report</h3>
<p>id: ${report.id}</p>
<p>start of activity: ${report.startDate}</p>
<p>end of activity: ${report.endDate}</p>
<p>performer: ${report.performer}</p>
<p>activity: ${report.activity}</p>