<html>
    <head>
        <title>Report</title>
    </head>
    <body>
        <h2>Report with Spring MVC and Velocity</h2>
 
        $screen_content
 
        <hr />
        Copyright &copy 2013 Paul Kulitski
    </body>
</html>