## activities list template
<h2>List of activities</h2>
<table class="table">
    <caption>Reports! records</caption>
    <thead>
        <tr>
            <td>id</td>
            <td>start date</td>
            <td>end date</td>
            <td>performer</td>
            <td>activity</td>
        </tr>
        <tbody>
            #foreach($report in $reports)
                <tr>
                    <td>${report.id}</td>
                    <td>${report.startDate}</td>
                    <td>${report.endDate}</td>
                    <td>${report.performer}</td>
                    <td>${report.activity}</td>
                </tr>
            #end
        </tbody>
    </thead>
</table>
