## register records template
<h2>List of registry records</h2>
<table class="table">
    <caption>Reports! registry records</caption>
    <thead>
        <tr>
            <td>id</td>
            <td>user</td>
            <td>operation</td>
            <td>timestamp</td>
        </tr>
        <tbody>
            #foreach($register in $registers)
                <tr>
                    <td>${register.id}</td>
                    <td>${register.user}</td>
                    <td>${register.op}</td>
                    <td>${register.recordTime}</td>
                </tr>
            #end
        </tbody>
    </thead>
</table>
#par