<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <context-param>
        <description>Spring application context configuration file location</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/report-context.xml</param-value>
    </context-param>
    <listener>
        <description>Bootstrap listener to start up and shut down Spring's root WebApplicationContext</description>        
        <listener-class>>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>report-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!--The url-pattern specification:
        A string beginning with a ‘/’ character and ending with a ‘/*’ suffix is 
            used for path mapping.
        A string beginning with a ‘*.’ prefix is used as an extension mapping.
        A string containing only the ’/’ character indicates the "default" servlet
            of the application. In this case the servlet path is the request URI 
            minus the context path and the path info is null.
        All other strings are used for exact matches only.-->
    <servlet-mapping>
        <servlet-name>report-dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <session-config>        
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
